.App {
  text-align: center;
  display: flex;
  transition: all 0.1s;
  flex-direction:row-reverse;
 
}

@keyframes rollout {
  0% {width:48px }
  100% { width:8.5vw }
}

@keyframes rollout2 {
  0% {width:8.5vw }
  100% { width:48px }
}

