.App {
  text-align: center;
  display: flex;
  transition: all 0.1s;
  flex-direction:row-reverse;
 
}


svg{
  margin:auto;
  transition: all 0.1s;
}
.text{
 margin:auto;
 overflow: hidden;
 border-style: solid;
 border-width: 1px;
 
 
}
.obraz{
animation:rollout3 0.4s;
min-width:48px
}

.test3{
  margin: 30px 20px;
  display:flex;
  width:48px;
  
  animation:rollout2 0.5s;
 
}
.showed{
  display:flex;
  width: 8.5%;
  animation:rollout 0.5s;
  margin: 30px 20px;
}


@keyframes rollout {
  0% {width:48px }
  100% { width:8.5% }
}
@keyframes rollout2 {
  0% {width:8.5% }
  100% { width:48px }
}
@keyframes rollout3 {
  0% {opacity:0 }
  100% { opacity:1  }
}


.roll-out {
  animation: rollout 0.4s;
}